@font-face {
    font-family: montserrat-400;
    font-weight: 400 !important;
    src: url(../fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: montserrat-500;
    font-weight: 500 !important;
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: montserrat-600;
    font-weight: 600 !important;
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: montserrat-700;
    font-weight: 700 !important;
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: montserrat-800;
    font-weight: bol !importantder;
    src: url(../fonts/Montserrat-ExtraBold.ttf);
}